body,
html {
  margin: 0;
  font-family: sans-serif;
  background: #fbd743;
}

h1 {
  color: #ff1f1f;
  overflow: hidden;
  white-space: nowrap;
  /* font-style: oblique; */
  width: 110%;
  margin-left: -10%;
  overflow-x: scroll;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: -5px;
  font-family: Comic Sans MS;
}

h1 span:nth-of-type(2n + 1) {
  color: #363b81;
}

h1::-webkit-scrollbar {
  display: none;
}

h1 span {
  padding: 10px;
}

h1 img {
  /* height: 40px; */
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

.pokemon-container {
  max-width: 750px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.pokemon-container h1 {
  flex-basis: 100%;
  text-align: center;
}

.pokemon-container ul {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.pokemon-container ul li {
  min-width: 200px;
  border: 2px solid #ff1f1f;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  margin: 5px;
  text-align: center;
  text-transform: uppercase;
  background-color: white;
  border-radius: 4px;
}

.pokemon-container ul li:hover {
  background: #5db9ff;
}

.pokemon-container ul li h2 {
  margin: 0;
  padding: 20px;
}

hr {
  flex-basis: 100%;
  border: none;
  border-top: 3px double orange;
  margin: 20px 6px;
}

#main-input {
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  border: none;
  border-radius: 2px;
  margin: 5px;
  padding: 12px;
  text-transform: uppercase;
}

#main-input:focus {
  outline: none;
  caret-color: transparent;
  border-bottom: 4px solid lightblue;
  margin-bottom: 1px;
}
